.categorie-card-container{
    width: 70%;
    margin:auto;
    margin-top: 3em;
    padding-bottom: 2em;

    img{
        width: 100%;
    }
    border-bottom: solid 2px;

    &:last-child{
        margin-bottom: 3em;
    }
}

@media all and (max-width:750px){
    .categorie-card-container{
        width: 90%;
        text-align: center;
    }
}