.categorie-heading{
    position: relative;
    width: 80%;
    margin-top:2%;
    margin: auto;
    img{
        display: block;
        width: 100%;
    }
    .description{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        top:70%;
        background: transparent;
        background-color: white;
        opacity: 80%;
        
        h4{
            font-size: 1vw;
        }
    }
}

@media all and (max-width:850px){
    .categorie-heading{

        .description{
            width: 80%;
        }
    }
}
@media all and (max-width:750px){
    .categorie-heading{
        width: 100%;
        .description{
            width: 100%;
            h4{
                font-size: 2vw;
            }
        }
    }
}

@media all and (max-width:500px){
    .categorie-heading{
        position: static;
        .description{
            position: static;
            margin:auto;
            transform:none;
            h4{
                font-size: small;
            }
        }
    }
}