.color-filter{
    display: flex;
    padding-left:10%;
    padding-right:10%;
    
    padding-top:5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    
    label{
        
        display:block;
        width: 1.5em;
        height: 1.5em;
        margin-right:0.2em;
        margin-bottom:0.2em;
        img{

            border-radius: 5px;
            width: 1.5em;
            height: 1.5em;
            
        }
        .all{
            background: rgb(149,224,145);
            background: linear-gradient(90deg, rgba(149,224,145,1) 0%, rgba(255,160,7,1) 100%);
        }
        &::before{         
            top:-10px !important;
            left:-10px !important;
        }
    }
}