.filters-button{
    border:1px solid lightgray;
    border-radius: 10px;
    padding-right:1em;
    padding-left: 1em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    cursor:pointer;
    margin-bottom: 0.5em;
}