.footer{
    font-family:futura-pt,sans-serif;
    .holder{
        display: flex;
        justify-content: space-around;
        background-color: rgb(238,238,238);
        h3{
            margin-top:5%;
            font-weight: 900;
            color:gray
        }
        p{
            color:rgba(128, 128, 128, 0.684);
            margin-top:3%;
            margin-bottom: 5%;
        }
        p:hover{
            color:cornflowerblue;
            cursor: pointer;
        }
    }

    .bottom{
        background-color: rgb(221,221,221);
        display: flex;
        justify-content: space-between; 
        padding-left:5%;
        padding-right:5%;
        padding-top:1%;
        padding-bottom: 1%;
        font-size: 10px;
        align-items: center;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            p{
                margin-right:5px;
            }
        }
    }
}
@media all and (max-width:550px){
    .footer{
        .holder{
            display: block;
            text-align: center;
        }
    }
}