.home-page{

    .main-screen{
        width: 100%;
        max-width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(156,156,156,1) 50%, rgba(107,107,107,1) 100%);
        text-align: center;
        h2{
            padding-top:2em;
            font-weight: bold;
            
        }
        h1{
            font-weight:900;
            margin-bottom: 2em;
        }
        button{
            transition: 1s;
            margin-top:2em;
            padding:0.5em 2em 0.5em 2em;
            font-weight: 600;
            font-size: 1.2em;
            background-color: white;
            border:none;
            margin-bottom: 3em;
            &:hover{
                background-color: black;
                color:white;
                cursor: pointer;
                transition: 1s;
            }
        }
        .sales-card-holder{
            display: flex;
            justify-content: center; 
            column-gap: 2em;
            
            .sales-card{
                background-color:white;
                width: 12vw;
                height: 20vw;
                border-radius: 5px;
                .image-container{
                    width: 100%;
                    height: 85%;
                    border-radius: 15px;
                    img{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }
                }
                p{
                    border-radius: 15px;
                    color:black;
                    font-weight: 600;
                    font-size:1vw;
                    text-align: center;
                    height: 15%;
                    padding-top:5%;
                }
                &:hover{
                    transition: all 1s;
                    transform: scale(1.05);
                 
                }
            }
        }
    }
    .big-image{
        width: 70vw;
        display: block;
        margin:auto;
        margin-top:5em;
        margin-bottom:5em;
    }

    .smaller-img-holder{
        display: flex;
        justify-content: center;
        
        img{
            height: 600px;
            width: 30vw;
            object-fit: cover;
            margin-left:2em;
            margin-right:2em;
            margin-bottom: 5em;
        }
    }
    .bottom{
        border-top:1px solid rgba(0, 0, 0, 0.144);
        padding-top:1em;
        margin:auto;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        img{
            height: 2em;
            margin-left:5%;
            margin-right:5%;
        }
        
    }
}

@media all and (max-width:900px){
    .home-page{

        .main-screen{
            margin:0;
            padding:0;
            .sales-card-holder{
                display: grid;
                grid-template-columns: 35vw 35vw;
                grid-row-gap: 4em;
                grid-column-gap: 5em;
                .sales-card{
                    width: 100%;
                    height: 100%;
                    p{
                        font-size: 100%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:750px){
    .home-page{
        .big-image{
            width: 100vw;
        }
        .smaller-img-holder{
            img{
                width: 40vw;

            }
        }
    }
}

@media all and (max-width:500px){
    .home-page{

        .main-screen{
            .sales-card-holder{
                grid-column-gap: 3em;
                .sales-card{
                    p{
                        font-size: 60%;
                    }
                }
            }
        }
        .smaller-img-holder{
            display: block;
            img{
                display: block;
                margin:auto;
                width: 80vw;
                margin-bottom: 2em;
            }
        }
    }
}