
.mobile-menu{
    width: 30vw;
    position: absolute;
    z-index: 1;
    left:0;
    top:7.5%;
    background-color: white;
    border: 1px solid black;
    .categorie-holder{
        display: flex;
        justify-content: center;
        width: 100%;
        .mobile-categorie{
            transition:all 0.7s;
            background-color:rgb(130,130,130);
            width: 15vw;
            display: block;
            color:black;
            &:hover{
                background-color: rgb(95, 94, 94);
                color:white;
                cursor: pointer;
            }
        }
    }
    .categorie-info{
        transition:all 0.7s;
        color:black;
        border-bottom:2px solid;
        padding-bottom: 1em;
        width: 90%;
        margin:auto;
        img{
            display: block;
            width: 100%;
            object-fit: contain;
            margin:auto;
        }
        &:hover{
            background-color:rgb(170,170,170);
            cursor: pointer;
        }
    }
    &:last-child{
        margin-bottom:2em;
        border-bottom: 0px none;
    }
}

@media all and (max-width:600px){
    .mobile-menu{
        width: 50vw;
        .categorie-holder{
            .mobile-categorie{
                width: 25vw;
            }
        }
    }
}

@media all and (max-width:450px){
    .mobile-menu{
        width: 70vw;
        .categorie-holder{
            .mobile-categorie{
                width: 35vw;
            }
        }
    }
}